---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}

  <h1 class="sr-only">{{ site.theme_settings.title }}</h1>

  <div class="posts">
    {% for post in paginator.posts %}
    <article class="post">
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>

      <p class="meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
        {% if post.author %}
        <span class="author">{% avatar {{ post.author }} size=20 %} {{ site.data.authors[post.author] }}</span>
        {% endif %}
      </p>

      <div class="excerpt">
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | normalize_whitespace | truncate: 200 }}{% endif %}</p>
        <a class="button" href="{{ post.url | prepend: site.baseurl }}">
          {{ site.theme_settings.str_continue_reading }}
        </a>
      </div>
    </article>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_prev }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
